<div class="container">
  <h1>Editing student</h1>

  <%= render 'form' %>

  <div class="lk"><%= link_to 'Show', @student, class: 'btn btn-primary btn-large' %> |
  <%= link_to 'Back', students_path, class: 'btn btn-primary btn-large' %></div>
</div>