// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
td, input {
	width: 120px;
}

.error {
	color: yellow;
	background-color: red;
}

form {
	display: none;
}